body {
	
}
h1 {
	color: black;
 text-align: center;
 border-bottom: solid;
 font-family: serif;
 margin-bottom: 1px;
}
h5 {
	color: black;
	
}
.pic {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: black;
}
.header {
	background-color: whitesmoke;
	color: black;
}
.header button{
	float: right;
	margin-top: 5px;
}
h3 {
	color: black;
	text-align: center;
}
#menu {
 margin: auto;
 width: 30%;

}
button {
 color: purple;
}
a {
	color: purple;
}

a:hover {
	color:black ;
}
.container {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
	justify-content: center;
	
}

.container img {
	width: 35%;
	margin: 10px;
}

#picture {
	float: left;
	margin-right: 10px;
}

p {
 color: black;
}

.brave {
	margin-top: 0px;
	background: url(brave.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: purple;
}
.perfect p {
		padding-top: 270px;
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
	color: purple;
	font-size: 70px;
	padding-bottom: 300px;
	margin-bottom: 0px;
	margin-top: 0px;

}
 .purple {
 	background-color: purple;
 	height: 100px;
 	width: 36%;
 	margin-right: auto;
 	margin-left: auto;
 }
 .fun {
 	margin-top: 10px;
 	display: flex;
 	flex-direction: row;
 	margin: 4px;
 }
 .text {
 	height: 100px;
 	width: 20%;

 }

.top {
	display: flex;
	width: 70%;
	margin: 10px;
}