body {
	
}
h1 {
	color: black;
 text-align: center;
 border-bottom: solid;
 font-family: cursive;
}
h5 {
	color: black;
	
}
.pic {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: black;
}
.header {
	background-color: whitesmoke;
	color: black;
}
.header button{
	float: right;
	margin-top: 5px;
}
h3 {
	color: black;
	text-align: center;
}
#menu {
 margin: auto;
 width: 30%;

}
button {
 color: purple;
}
a {
	color: purple;
}

a:hover {
	color:black ;
}
.container {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
	justify-content: center;
	
}

.container img {
	width: 35%;
	margin: 10px;
}

#picture {
	float: left;
	margin-right: 10px;
}

p {
 color: black;
}

.brave {
	background: url(brave.jpg);
	background-repeat: no-repeat;
	background-size: auto;
}
.perfect {
	font-size: 200pxs;
	padding-top: 100 px;
	margin-right: auto;
	margin-left: auto;
}