body {
  background-color: darkblue;
}
#nav {
	
	float: left;
	background-color: lightblue;
	width: 120px;
	height: 380;
	margin-left: 20px;
	margin-top: 0;
	
}
#content {
	float: none;
	background-color: blue;
	text-align: center;
	margin-left: 140px;
	margin-right: 20;
	height: 380;
	margin-top: 0;
}